@import url("fonts.css");

/* ********* Global styles ********** */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 30px 50px;
    font-family: oxygen, sans-serif;
    color: #282828;
    background-color: #fff;
}
main > section {
    margin-bottom: 70px;
}
h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
h2 {
    font-weight: 700;
    font-size: 40px;
}
h3 {
    font-weight: 700;
    font-size: 35px;
    margin-top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p, li, span {
    font-weight: 400;
    font-size: 20px;
}
img {
    max-width: 600px;
    max-height: 400px;
}
a {
    text-decoration: none;
    color: inherit;
}

/* ********* Welcome Page styles ********* */
.welcome-page-wrapper {
    display: grid;
    grid-template-rows: 20vh 80vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "navbar theme-switcher"
        "page-title page-title";
}

/* ********* Header styles ********* */
.main-nav-bar {
    grid-area: navbar;
}
.theme-switcher {
    grid-area: theme-switcher;
    justify-self: end;
    align-self: start;
    font-size: 40px;
    cursor: pointer;
}
.page-title {
    margin-top: 25px;
    grid-area: page-title;
    place-self: start center;
}

/* ********* Nav bar styles ********* */
.main-nav-bar > ul {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
}
.main-nav-bar li {
    transition: border-bottom 0.3s ease-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}
.main-nav-bar li:hover {
    border-bottom: 2px solid #282828;
    cursor: pointer;
}

/* ********* Project styles ******** */
.project {
    margin-bottom: 100px;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 40px;
}
.project:last-child {
    margin-bottom: 0;
}
.project-info > h3 {
    margin-bottom: 10px;
}
.project-info > p {
    margin-bottom: 50px;
}
.project-info > ul {
    margin-bottom: 30px;
}
.tech-stack > li {
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
    background-color: #282828;
    margin-right: 5px;
    display: inline-block;
}
.external-links > li {
    margin-right: 10px;
    display: inline-block;
}
.external-links > li:hover {
    color: #40798C;
    cursor: pointer;
}

/* ********* Skills styles ******** */
#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#skills > h2 {
    flex: 0 1 100%;
}
.skill > h3 {
    margin-bottom: 20px;
}
.skill li {
    margin-bottom: 10px;
}


/* ********* Contact Styles ********* */
form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 30px;
    border: 2px solid #282828;
    max-width: 650px;
    width: 100%;
}
#contact > p {
    margin-bottom: 20px;
}
textarea, input, button {
    font-family: oxygen;
    font-weight: 300;
    font-size: 18px; 
    padding: 10px;
    outline: none;
    border: 1px solid #282828;
}
textarea {
    resize: vertical;
}
button {
    font-weight: 400;
    color: #fff;
    background-color: #1d1d1d;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}
button:hover {
    background-color: #fff;
    color: #282828;
}

/* ********* Footer Styles ********* */
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
footer li {
    display: inline-block;
}
footer a {
    font-size: 35px;
}